<div class="login-page">
  <div class="form">
    <%= form_for @user, class: "register-form" do |f| %>
      <%= f.email_field :email, placeholder: "メールを入力してください。" %>
      <%= f.text_field :name, placeholder: "名前を入力してください。" %>
      <%= f.password_field :password, placeholder: "パスワードを入力してください。" %>
      <%= f.password_field :password_confirmation, placeholder: "パスワードをもう一度入力してください。" %>
      <%= f.submit "アカウントを作成する" %>
      <p class="message">アカウントがあった場合は <a href="#">ログインする</a></p>
    <% end %>
  </div>
</div>
