<div class="main-container col-md-12">
  <%= image_tag @image.url %>
</div>

<div>
  <%= form_for @like, remote: true, url: likes_path, method: :post do |f| %>
    <%= f.hidden_field :image_id, value: @image.id %>
    <% if @like.id.present? %>
      <%= f.submit "可愛いね", class: "sbt_1", id: "like", disabled: true %>
    <% else %>
      <%= f.submit "可愛いね", class: "sbt_1", id: "like" %>
    <% end %>
    <a href="http://localhost:3000" id="next">
      次へ
    </a>
  <% end %>
</div>
